<div class="container pt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h3 class="float-left mb-5">プロフィール編集</h3>
      <table class="table">
        <tr>
          <div class="d-flex align-items-end" >
              <div class="w-25 ">
                <%= image_tag current_user.avatar.url , class:"rounded-circle", alt:"mdo", width:"50", height:"50"%>
              </div>
              <div class="ms-auto align-items-end">
                <%= link_to '編集', edit_profile_path, class: 'btn btn-success float-right' %>
              </div>
        </tr>
        <tr>
          <th scope="row">メールアドレス</th>
          <td><%= current_user.email %></td>
        </tr>
        <tr>
          <th scope="row">ユーザー名</th>
          <td><%= current_user.user_name %></td>
        </tr>
      </table>
    </div>
  </div>
    <div class="d-flex align-items-end" >
    <div class="w-25"><h4 class="fw-bolder">自分の投稿</h4></div>
  </div>
  <div class="row pt-3">
    <div class="col-12">
      <div class="row">
        <% if @own_articles.present? %>
          <%= render partial: 'articles/article', collection: @own_articles %>
        <% else %>
          <p>投稿はありません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>