<div class="row mb-3">
  <div class="col-lg-8 offset-lg-2">
    <%= form_with model: comment, url: [article, comment], local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :body, "コメントフォーム" %>
      <%= f.text_area :body, class: 'form-control mb-3', id: 'js-new-comment-body' %>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>