<div class="container col-8">

  <div class="card mb-3">
    <div class="card-body">
      <div class="d-flex bd-highlight ">
            <div class="p-2 bd-highlight"><%= image_tag article.user.avatar.url , class:"rounded-circle", alt:"mdo", width:"32", height:"32"%></div>
            <div class="p-2 bd-highlight"><%= article.user.user_name%></div>
            <div class="ms-auto p-2 bd-highlight">
                <%= link_to article.url do%>
                  <i class="fas fa-link"></i>記事に移動
                <% end %>
              </div>
            <div class="p-2 bd-highlight"><%= article.status %></div>
            </div>
            <h5 class="d-flex bd-highlight ">
              <div class="p-2 bd-highligh"><%= link_to article.title, article_path(article), style:"text-decoration: none" %></div>
            </h5>
                  <div class="d-flex bd-highlight">
            <div class="pr-4 bd-highlight "><%= render 'tag_list', tag_list: article.tag_list %></div>
            <div class="ms-auto  bd-highlight">
              <% if current_user.own?(article) %>
                <%= render 'crud_menus', article: article %>
              <% else %>
                <%= render 'like_area', article: article  %>
              <% end %>
            </div>
          </div>
    </div>
  </div>
</div>



  