<div class="col-sm-12 col-lg-3 mb-3">
  <div id="article-id-<%= article.id %>">
    <div class="card">
    
      <%= image_tag "#{rundum_image}", class: "card-img-top",  width:"290", height:"150"%>

      <div class="card-body pb-1 pr-1">
        <h4 class="card-title">
          <%= link_to article.title.truncate(26), article_path(article) %>
        </h4>
      </div>
        <div class="d-flex mb-1 ">
          <div class="align-items-start mx-3">
            <%= image_tag article.user.avatar.url , class:"rounded-circle", alt:"mdo", width:"32", height:"32"%>
            <%= article.user.user_name.truncate(18)%>
          </div>
          <div class="ms-auto">
            <% if current_user&.own?(article) %>
              <%= render 'articles/crud_menus', article: article %>
            <% else %>
              <%= render 'articles/like_area', article: article  %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
