<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto border-bottom border-dark border-2">
        <li class="nav-item ">
          <%= link_to 'ホーム', articles_path, class: 'nav-link aria-current="page" active border-bottom border-dark border-2' %>
          </a>
        </li>
        <li class="nav-item">
          <%= link_to '入門STEP', introduction_topics_path, class: 'nav-link aria-current="page" active' %>
          </a>
        </li>
        <li class="nav-item">
          <%= link_to '基礎STEP', basis_topics_path, class: 'nav-link aria-current="page" active' %>
          </a>
        </li>
        <li class="nav-item">
          <%= link_to '応用STEP', advance_topics_path, class: 'nav-link aria-current="page" active' %>
          </a>
        </li>
        <li class="nav-item">
          <%= link_to 'エラー', advance_topics_path, class: 'nav-link aria-current="page" active' %>
          </a>
        </li>
        <li class="nav-item">
          <%= link_to '機能', advance_topics_path, class: 'nav-link aria-current="page" active' %>
          </a>
        </li>
        <li class="nav-item">
          <%= link_to 'デザイン', advance_topics_path, class: 'nav-link aria-current="page" active' %>
          </a>
        </li>
        <li class="nav-item">
          <%= link_to 'Rails', advance_topics_path, class: 'nav-link aria-current="page" active' %>
          </a>
        </li>
        <li class="nav-item">
          <%= link_to '学習方法', advance_topics_path, class: 'nav-link aria-current="page" active' %>
          </a>
        </li>
        <li class="nav-item">
          <%= link_to 'ライフハック', advance_topics_path, class: 'nav-link aria-current="page" active' %>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>