<div class="container pt-3">
  <%= render 'topics_navar' %>

  <!-- 掲示板一覧 -->
  <div class="d-flex mb-0 align-items-center">
    <div class="w-25 "><h4 class=" bg-primary text-white text-center">全て</h4></div>
    <div class="ms-auto p-2">
     <h6><%= link_to 'もっと見る', topics_path, class: 'nav-link' %></h6>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @articles.present? %>
          <%= render @articles %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="d-flex mb-0 align-items-center">
    <div class="w-25"><h4 class=" bg-primary text-white text-center">入門STEP</h4></div>
    <div class="ms-auto p-2">
     <h6><%= link_to 'もっと見る', introduction_topics_path, class: 'nav-link' %></h6>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @introduction_articles.present? %>
          <%= render @introduction_articles %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="d-flex mb-0 align-items-center">
    <div class="w-25"><h4 class=" bg-primary text-white text-center">基礎STEP</h4></div>
    <div class="ms-auto p-2">
     <h6><%= link_to 'もっと見る', basis_topics_path, class: 'nav-link' %></h6>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @basis_articles.present? %>
          <%= render @basis_articles %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="d-flex mb-0 align-items-center">
    <div class="w-25"><h4 class=" bg-primary text-white text-center">応用STEP</h4></div>
    <div class="ms-auto p-2">
     <h6><%= link_to 'もっと見る', advance_topics_path, class: 'nav-link' %></h6>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @advance_articles.present? %>
          <%= render @advance_articles %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
