<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
    <%= @article.status%>
      <!-- 掲示板内容 -->
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-md-12'>
            <div class="d-flex align-items-end" >
              <div class="w-25 ">
                <%= image_tag @article.user.avatar.url , class:"rounded-circle", alt:"mdo", width:"32", height:"32"%>
                <%= @article.user.user_name%>
              </div>
              <div class="ms-auto align-items-end">
                <div class="d-flex flex-row bd-highlight">
                  <div class=" mx-2 d-flex align-items-end bd-highlight">
                    <%= link_to @article.url, target: :_blank do %>
                      <i class="fas fa-link"></i>記事に移動
                    <% end %>
                  </div>
                  <div class=" bd-highlight">
                    <% if current_user.own?(@article) %>
                     <%= render 'crud_menus', article: @article %>
                    <% else %>
                      <%= render 'like_area', article: @article  %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
              <h3 class="d-inline"><%= @article.title %></h3>

            </div>
            <li class="list-inline-item">
              <%= render 'tag_list', tag_list: @article.tag_list %>
            </li>
          </div>
          <p><%= simple_format(@article.body) %></p>
        </div>
      </article>
    </div>
  </div>
  <%= render 'comments/comments', { comments: @comments } %>
  <%= render 'comments/form', { article: @article, comment: @comment } %>
</div>